<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Female Daily Network Test</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.11.3/css/dataTables.bootstrap5.min.css">
</head>
<body>
    <div class="table-data" align="center"> 
        <br>    
            <h2>Display Data</h2>
        <br>
        <table class="table table-striped" style="width:80%">
            <tr>
                <th>ID</th>
                <th>Full Name</th>
                <th>Email</th>
                <th>Item</th>
                <th>Quantity</th>
                <th>Total Price</th>
            </tr>
            
            <%
            if(listData.length>0){
            var i=1;
            listData.forEach(function(data){
            %>
            <tr>
                <td><%=data.id %></td>
                <td><%=data.fullname %></td>
                <td><%=data.email %></td>
                <td><%=data.item %></td>
                <td><%=data.quantity %></td>
                <td><%=data.totalPrice %></td>
            </tr>
            <%  i++; }) %>
            <% } else{ %>
                <tr>
                    <td colspan="7">No Data Found</td>
                </tr>
            <% } %>
        </table>
        <p></p>
        <a href="http://localhost:3000/femaledaily/pivot"><button>Pivot</button>
        <br>
        <br>
        <br>
    </div>
    
</body>
</html>
