<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Female Daily Network Test</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.11.3/css/dataTables.bootstrap5.min.css">
</head>
<body>
    <div class="table-data" align="center"> 
        <br>    
            <h2>Display Data Pivot</h2>
        <br>
        <table class="table table-striped" style="width:80%">
            <tr>
                <th>Full Name</th>
                <th>Email</th>
                <th>Barang 1</th>
                <th>Barang 2</th>
                <th>Barang 3</th>
                <th>Barang 4</th>
                <th>Barang 5</th>
                <th>Barang 6</th>
                <th>Barang 7</th>
                <th>Barang 8</th>
                <th>Barang 9</th>
                <th>Barang 10</th>
            </tr>
            
            <%
            if(listData.length>0){
            var i=1;
            listData.forEach(function(data){
            %>
            <tr>
                <td><%=data.fullname %></td>
                <td><%=data.email %></td>
                <td><%=data.barang1 %></td>
                <td><%=data.barang2 %></td>
                <td><%=data.barang3 %></td>
                <td><%=data.barang4 %></td>
                <td><%=data.barang5 %></td>
                <td><%=data.barang6 %></td>
                <td><%=data.barang7 %></td>
                <td><%=data.barang8 %></td>
                <td><%=data.barang9 %></td>
                <td><%=data.barang10 %></td>
            </tr>
            <%  i++; }) %>
            <% } else{ %>
                <tr>
                    <td colspan="7">No Data Found</td>
                </tr>
            <% } %>
        </table>
        <p></p>
        <a href="http://localhost:3000/femaledaily/transaction"><button>Back Main Data</button>
        <br>
        <br>
        <br>
    </div>
    
</body>
</html>
